
@{
    ViewBag.Title = "LoggedIn";
}

@if (Session["UserId"] != null)
{
    <h1>Hei, @Session["Username"].ToString()</h1>
    <hr class="hrBlack"/>
    <script src="~/Scripts/calendar.js"></script>

    <div id='calendar'></div>

}

