@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p>Today is: @DateTime.Now.DayOfWeek</p>
    </div>
</body>
</html>
